.header {
	padding: 45px 0 25px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;

	transition: all 0.3s ease 0s;


	&.scroll {
		background-color: rgb(75, 71, 71);
		padding: 25px 0 15px 0;
	}


	/* .header__container */

	&__container {}

	/* .header__body */

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/* .header__logo */

	&__logo {
		flex: 0 0 auto;
		margin-right: 60px;
		text-transform: uppercase;
		font-weight: 700;

	}

	/* .header__logo-link */

	&__logo-link {
		transition: all 0.3s ease 0s;
		color: $accentColor;

		&:hover {
			color: white;
		}
	}

	/* .header__menu */

	&__menu {
		flex: 1 1 auto;
		margin-right: 30px;
	}

	/* .header__contacts */

	&__contacts {
		display: flex;
		flex-direction: column;

		@media (max-width:767px) {
			text-align: right;
		}
	}

	/* .header__contacts-link */

	&__contacts-link {
		font-weight: bold;

		color: white;
		transition: all 0.3s ease 0s;

		&:hover {
			color: $accentColor;
		}

		padding: 0 0 3px 0;
	}

	&__contacts-link_order {
		font-weight: 400;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
}

.menu-header {
	display: flex;
	justify-content: space-between;

	@media (max-width:767px) {
		width: 50%;
		position: relative;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 100%;
		height: 400px;
		margin-right: 0;
		background-color: #000000c5;
		padding: 20px;
		right: -100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease 0s;
	}

	&._show {
		right: 0;
		opacity: 1;
		visibility: visible;
	}

	/* .menu-header__list */

	&__list {
		display: flex;
		flex-wrap: wrap;

		@media (max-width:767px) {
			flex: 1 1 auto;
			text-align: right;
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: 20px;
		}
	}

	/* .menu-header__item */

	&__item {

		@media (min-width:767px) {
			&:not(:last-child) {
				margin: 0 40px 10px 0;
			}
		}



	}

	/* .menu-header__link */

	&__link {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13px;

		color: white;
		transition: all 0.3s ease 0s;

		&:hover {
			color: $accentColor;
		}
	}
}

.header-point {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
}