.popup {
	position: fixed;
	z-index: 50;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	opacity: 1;
	transform: perspective(600px) translate(0, 0) rotateX(0deg);
}

.popup__area {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup__content {
	background-color: #fff;
	max-width: 50%;
	color: black;
	padding: 30px;
	position: relative;
	transform: perspective(600px) translate(0, -100%) rotateX(45deg);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

#popup_three .popup__content {
	height: 600px;
	width: 80%;
}

.popup__close {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 15px;
	height: 15px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		height: 2px;
		background-color: #000000;
		transform: translate(0, -50%) rotate(45deg);
	}

	&::before {
		transform: translate(0, -50%) rotate(-45deg);
	}
}

.popup__title {
	font-size: 42px;
	margin-bottom: 1em;
}

.popup__text {}


.lock {
	overflow: hidden;
}